Workflows/n8n/exports/growth-department.json
{
  "name": "AI COO — Growth Department",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0000-0000-000000000001",
      "name": "Weekly Schedule — Mon 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 200],
      "parameters": {
        "rule": {
          "interval": [{ "field": "weeks", "weekday": 1, "hour": 9, "minute": 0 }]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0000-0000-000000000002",
      "name": "Get Lead Count (7 days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 200],
      "parameters": {
        "method": "GET",
        "url": "https://services.leadconnectorhq.com/contacts/?locationId={{ $env.GHL_SUBACCOUNT_ID }}&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GHL_API_KEY }}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0000-0000-000000000003",
      "name": "Build Weekly Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200],
      "parameters": {
        "jsCode": "const contacts = $input.first().json.contacts || [];\nconst oneWeekAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\n\nconst newLeads = contacts.filter(c => new Date(c.dateAdded) > oneWeekAgo).length;\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'short', day: 'numeric' });\n\nreturn [{ json: {\n  newLeads,\n  callsBooked: 'check GHL calendar',\n  closed: 'check GHL pipeline',\n  reportDate: today,\n  totalContacts: contacts.length\n} }];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0000-0000-000000000004",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 200],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "📊 WEEKLY REPORT — {{ $json.reportDate }}\n\n📥 New leads (7 days): {{ $json.newLeads }}\n📅 Total contacts: {{ $json.totalContacts }}\n\n✅ System running normally\n\nType /status for a live pipeline snapshot.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    },
    {
      "id": "c3d4e5f6-0003-0000-0000-000000000005",
      "name": "Broadcast Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "path": "ai-coo/broadcast",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      }
    },
    {
      "id": "c3d4e5f6-0003-0000-0000-000000000006",
      "name": "Send GHL Broadcast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 500],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/emails/schedule",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GHL_API_KEY }}" },
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: $env.GHL_SUBACCOUNT_ID, subject: $json.body.subject, body: $json.body.emailBody, fromName: $json.body.fromName, fromEmail: $json.body.fromEmail }) }}"
      }
    },
    {
      "id": "c3d4e5f6-0003-0000-0000-000000000007",
      "name": "Broadcast Confirmed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [750, 500],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "📣 Broadcast queued successfully.\n\nSubject: {{ $('Broadcast Webhook Trigger').item.json.body.subject }}\nScheduled: {{ $json.scheduledAt || 'Immediate' }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Weekly Schedule — Mon 9am": {
      "main": [[{ "node": "Get Lead Count (7 days)", "type": "main", "index": 0 }]]
    },
    "Get Lead Count (7 days)": {
      "main": [[{ "node": "Build Weekly Summary", "type": "main", "index": 0 }]]
    },
    "Build Weekly Summary": {
      "main": [[{ "node": "Send Weekly Report", "type": "main", "index": 0 }]]
    },
    "Broadcast Webhook Trigger": {
      "main": [[{ "node": "Send GHL Broadcast", "type": "main", "index": 0 }]]
    },
    "Send GHL Broadcast": {
      "main": [[{ "node": "Broadcast Confirmed", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "growth-department-v1",
  "meta": { "templateCredsSetupCompleted": true }
}
