Workflows/n8n/exports/master-router.json
{
  "name": "AI COO — Master Router",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Webhook — Incoming",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "ai-coo/router",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000002",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "lead",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Revenue Dept"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "campaign",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Growth Dept"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "health",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Tech Dept"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "task",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Automation Dept"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000003",
      "name": "→ Revenue Dept",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 100],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000004",
      "name": "→ Growth Dept",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 250],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000005",
      "name": "→ Tech Dept",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 400],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000006",
      "name": "→ Automation Dept",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 550],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000007",
      "name": "Alert — Unknown Type",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [750, 700],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "⚠️ Unknown payload type received: {{ $json.body.type }}\n\nFull payload:\n{{ JSON.stringify($json.body, null, 2) }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Webhook — Incoming": {
      "main": [
        [{ "node": "Route by Type", "type": "main", "index": 0 }]
      ]
    },
    "Route by Type": {
      "main": [
        [{ "node": "→ Revenue Dept", "type": "main", "index": 0 }],
        [{ "node": "→ Growth Dept", "type": "main", "index": 0 }],
        [{ "node": "→ Tech Dept", "type": "main", "index": 0 }],
        [{ "node": "→ Automation Dept", "type": "main", "index": 0 }],
        [{ "node": "Alert — Unknown Type", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "master-router-v1",
  "meta": { "templateCredsSetupCompleted": true }
}
