Workflows/n8n/exports/revenue-department.json
{
  "name": "AI COO — Revenue Department",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000001",
      "name": "Lead Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "ai-coo/revenue",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      }
    },
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000002",
      "name": "Extract & Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst name = body.firstName + ' ' + body.lastName || body.name || 'Unknown';\nconst email = body.email || '';\nconst businessType = body.businessType || body.service || '';\nconst revenue = body.monthlyRevenue || body.revenue || '';\nconst bottleneck = body.bottleneck || body.notes || '';\nconst source = body.source || 'landing-page';\n\n// Simple lead scoring\nlet leadScore = 0;\nif (revenue.includes('$15K') || revenue.includes('$30K') || revenue.includes('30K+')) leadScore += 2;\nif (revenue.includes('$5K') || revenue.includes('$10K')) leadScore += 1;\nif (bottleneck.length > 20) leadScore += 1;\nif (email.includes('.com') || email.includes('.io')) leadScore += 1;\n\nreturn [{\n  json: {\n    name, email, businessType, revenue, bottleneck, source, leadScore,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000003",
      "name": "Add to GHL Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GHL_API_KEY }}" },
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "firstName", "value": "={{ $json.name.split(' ')[0] }}" },
            { "name": "lastName", "value": "={{ $json.name.split(' ').slice(1).join(' ') }}" },
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "locationId", "value": "={{ $env.GHL_SUBACCOUNT_ID }}" },
            { "name": "tags", "value": "=[\"ai-coo-lead\"]" },
            { "name": "customFields", "value": "=[{\"id\": \"businessType\", \"field_value\": \"{{ $json.businessType }}\"}, {\"id\": \"revenue\", \"field_value\": \"{{ $json.revenue }}\"}]" }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000004",
      "name": "High Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $('Extract & Score Lead').item.json.leadScore }}",
              "rightValue": 2,
              "operator": { "type": "number", "operation": "gte" }
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000005",
      "name": "🔥 Hot Lead Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 150],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🔥 HOT LEAD (score: {{ $('Extract & Score Lead').item.json.leadScore }})\n\n👤 {{ $('Extract & Score Lead').item.json.name }}\n📧 {{ $('Extract & Score Lead').item.json.email }}\n🏢 {{ $('Extract & Score Lead').item.json.businessType }}\n💰 {{ $('Extract & Score Lead').item.json.revenue }}\n🎯 {{ $('Extract & Score Lead').item.json.bottleneck }}\n\nSource: {{ $('Extract & Score Lead').item.json.source }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    },
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000006",
      "name": "New Lead Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 450],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "📥 New lead: {{ $('Extract & Score Lead').item.json.name }}\n📧 {{ $('Extract & Score Lead').item.json.email }}\n🏢 {{ $('Extract & Score Lead').item.json.businessType }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    },
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000007",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1500, 300],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $env.LEADS_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Extract & Score Lead').item.json.timestamp }}",
            "Name": "={{ $('Extract & Score Lead').item.json.name }}",
            "Email": "={{ $('Extract & Score Lead').item.json.email }}",
            "BusinessType": "={{ $('Extract & Score Lead').item.json.businessType }}",
            "Revenue": "={{ $('Extract & Score Lead').item.json.revenue }}",
            "Bottleneck": "={{ $('Extract & Score Lead').item.json.bottleneck }}",
            "LeadScore": "={{ $('Extract & Score Lead').item.json.leadScore }}",
            "Source": "={{ $('Extract & Score Lead').item.json.source }}"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "Google Sheets" }
      }
    }
  ],
  "connections": {
    "Lead Received": {
      "main": [[{ "node": "Extract & Score Lead", "type": "main", "index": 0 }]]
    },
    "Extract & Score Lead": {
      "main": [[{ "node": "Add to GHL Pipeline", "type": "main", "index": 0 }]]
    },
    "Add to GHL Pipeline": {
      "main": [[{ "node": "High Intent?", "type": "main", "index": 0 }]]
    },
    "High Intent?": {
      "main": [
        [{ "node": "🔥 Hot Lead Alert", "type": "main", "index": 0 }],
        [{ "node": "New Lead Notify", "type": "main", "index": 0 }]
      ]
    },
    "🔥 Hot Lead Alert": {
      "main": [[{ "node": "Log to Sheets", "type": "main", "index": 0 }]]
    },
    "New Lead Notify": {
      "main": [[{ "node": "Log to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "revenue-department-v1",
  "meta": { "templateCredsSetupCompleted": true }
}
